// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody.item {
  margin-top: 10px;

  small {
    color: #BBB;
  }

  a {
    color: #000000;
    background-color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
      background-color: #000000;
    }
  }
  
  td{
    text-align: left;
    /*font-size: 12px;*/
  }

  ul{
    list-style-type: none;
    margin: 0;
      padding: 0;
  }

  li{
    display: inline-block;
  }

  p{
    display: inline-block;
  }

  .itemTitle{
    padding: 100px;
  }
}


